*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(240, 245, 252);
}
.container{
  margin:50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.title-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.title{
  font-size: 2em;
}
.underline{
  height: 3px;
  width: 50%;
  background-color: rgb(185, 145, 82);
}
.navlink{
 display: inline-block;
 margin: 10px 15px;
text-decoration: none;
font-size: 1.5em;

}
.navlink.active{
  color: aqua;
  font-size: 2em;
}
.single-menu{
  height: 500px;
  width: 300px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0,0,0,.4);
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start ;
  border-radius: 5px;
}
.menu-img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu-desc{
  margin:auto
}
.all-menus{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.main-comp{
  height:600px;
  width:100%;
 background-image: url('https://burst.shopifycdn.com/photos/flatlay-iron-skillet-with-meat-and-other-food.jpg?width=1200&format=pjpg&exif=1&iptc=1');
 background-size: cover;
}